html, body, #root {
    font-family: "trebuchet ms", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    min-height: 100dvb;
}

.App {
    height: 100dvh;
    overflow-y: auto;
}

p, span, label, h1, h2, h3, h4, h5, h6, div, button, input {
    color: var(--text-color);
}

div {
    background-color: var(--bg-color);
}

button, input {
    background-color: var(--button-color);
}

button:hover, input:hover {
    background-color: var(--button-color-hover);
}

button:active {
    background-color: var(--button-pressed);
}

button:disabled, input:disabled {
    background-color: var(--button-disabled);
}


.full_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rounded_border {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.base_button {
    padding: 8px 16px;

    border: 1px solid var(--border-color);
    border-radius: 10px;

    background-color: var(--button-color);
    color: var(--text-color);
}
.base_button:hover {
    background-color: var(--button-color-hover);
}
.base_button:active {
    background-color: var(--button-pressed);
}
.base_button:disabled {
    cursor: not-allowed;
    background-color: var(--button-disabled);
}

.base_margins {
    margin: 5px;
    padding: 5px;
}

.base_flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
    box-sizing: border-box;
}

.base_flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
    box-sizing: border-box;
}

.base_icon {
    border-width: 0;
    border-radius: 10px;
    width: 32px;
    height: 32px;
}
