# Python and IDEs
__pycache__
venv
.env
.vs
.vscode
.idea

# Pyinstall
*.manifest
*.spec
*.exe

# Settings
*.log
*.log.*
test
test.*
Loot *
settings.toml
./data
cache
logs

# Django
*.pot
*.pyc

# DB
*.sqlite3
*.sqlite
*.db

# NODE
node_modules