services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: nct_dispatcher
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "7432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./dispatcher_api
      dockerfile: Dockerfile
    container_name: dispatcher_api
    depends_on:
      - db
    ports:
      - "8080:8000"

volumes:
  postgres_data:
