@import "base.css";

@import "mobile_desktop.css";
@import "custom_header.css";
@import "loading.css";
@import "overlay.css";


:root {
    --bg-color: #f5f5f5;
    --text-color: #2b2b2b;

    --border-color: #2b2b2b;

    --button-text-color: #2b2b2b;
    --button-background-color: #f5f5f5;
    --button-hover-border-color: #396cd8;
    --button-active-border-color: #396cd8;
    --button-active-background-color: #0f0f0f69;
    --button-disabled: #acacac;
    --button-pressed: #105dcc;

    --header-color: #0a46e4;
    --header-text-color: #dadada;
    --header-current-color: #356dff;
    --header-current-text-color: #FFFFFF;

    --win-info-cont-color: #0a1929;
    --win-info-text-color: #90caf9;

    --win-warning-cont-color: #2a2100;
    --win-warning-text-color: #ffd54f;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f6f6f6;
    --border-color: #787878;
    --button-color: #3c3c3c;
    --button-background-color:  #0f0f0f98;
    --button-hover-border-color: #396cd8;
    --button-active-border-color: #396cd8;
    --button-active-background-color: #0f0f0f69;

    --button-disabled: #202020;
    --button-pressed: #0b418e;

    --header-color: #0c0c0c;
    --header-text-color: #A6ADB4;
    --header-current-color: #656565;
    --header-current-text-color: #FFFFFF;

    --win-info-cont-color: #0a1929;
    --win-info-text-color: #90caf9;
    --win-warning-cont-color: #2a2100;
    --win-warning-text-color: #ffd54f;
}
